<% for (const item of items) { %>
  
  <div class="callout callout-style-default callout-note no-icon callout-titled">
  <img src="<%= item.image %>" style="width: 35%; float: right;">
  <h4><%= item.title %></h4>
  <%= item.subtitle %> 
  <br>
  <br>
  <ul>
    <li>
        <b>Date: </b><%= item.date %>
    </li>
    <li>
        <b>Place: </b><%= item.description %>
    </li>
    <li>
        <b>Presenter: </b><%= item.author %>
    </li>
  </ul>
  <a href="https://delft-rcafe.github.io/home/outlook/<%= item.ics %>" download="R-Cafe.ics"><button type="button" class="btn btn-primary btn-sm">Add to calendar</button> </a>
</div>
<% } %>